@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        --background: #fafafa;
        --text: #1a1a1a;
        --accent: #FF5722;
        --secondary-accent: #0066ff;
        --secondary: #f0f0f0;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: #1a1a1a;
            --text: #f0f0f0;
            --secondary: #2a2a2a;
            --accent: #FF5722;
            --secondary-accent: #0066ff;
        }
    }

    html {
        font-family: 'Inter', system-ui, sans-serif;
    } 

    body {
        @apply bg-background text-text;
        line-height: 1.6;
    }

    .bg-accent-gradient {
        background: linear-gradient(90deg, var(--accent), var(--secondary-accent));
    }

    .can-click {
        @apply cursor-pointer;
    }
}