@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #fafafa;
        --text: #1a1a1a;
        --accent: #FF5722;
        --secondary-accent: #0066ff;
        --secondary: #f0f0f0;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: 18 18 18;
            --text: 240 240 240;
            --secondary: 26 26 26;
        }
    }

    html {
        font-family: 'Inter', system-ui, sans-serif;
    } 

    body {
        @apply bg-background text-text;
        line-height: 1.6;
    }

    /* Custom utility classes */
    .bg-background {
        background-color: var(--background)
    }

    .bg-background\/80 {
        background-color: var(--background)
    }

    .text-text {
        color: var(--text)
    }

    .bg-accent {
        background: linear-gradient(90deg, var(--accent), var(--secondary-accent));
    }

    .text-hover-grey {
        color: #ccc;
    }

    .text-accent {
        color: var(--accent);
    }

    .bg-secondary {
        background-color: var(--secondary);
    }
      
    .border-text {
        border-color: var(--text);
    }

    .from-accent {
        --tw-gradient-from: var(--accent);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    }

    .to-secondary-accent {
        --tw-gradient-to: var(--secondary-accent);
    }
}